
*.[oa]
*.bak
*.exe
*.idb
*.log
*.ncb
*.obj
*.so
*.suo
*.tar.gz
*.vcproj.*
*~
.deps
.vs
Cargo.lock
Debug
Makefile
Makefile.in
aclocal.m4
autodefs.h
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.h
depcomp
install-sh
libtool
ltmain.sh
missing
out
plap/credentialprovider.h
stamp-h1
target/
x64
